.test-slider {
    width: 100%;
    height: 100vh;
}

.t_slider {
    width: 100%;
    height: 100%;
}

.t_slide {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}